@import url('https://fonts.googleapis.com/css2?family=Anton&family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "Poppins", serif !important;
}
body{
	margin: 20px !important;
}
a{
	text-decoration: none !important;
}

/*Hero Section*/
img{
    width: 100%;
}
p{
    font-size: 16px;
}
section#banner-section {
        padding: 30px 0px;
    }
        
        
        .btn-download {
               background-color: #0F2F48;
    font-weight: 500;
    color: #E5EDFC;
    font-size: 16px;
    padding: 13px 30px;
    border-radius: 3px;
     margin-top: 20px;
        }
        .btn-download:hover {
            background: #f2f2f2;
        }


        /* new styling start */
        .container-large {
            max-width: 1200px;
            margin: auto;
            width: 95%;
        }
        .banner-main-box {
            border: 1px solid #80808063;
            border-radius: 20px;
            box-shadow: 0px 6px 10px #0000002e;
        }
        .bannner-inner-wrapper{
            padding: 20px;
        }
        .banner-header {
            padding: 20px;
            border-bottom: 1px solid #80808063;
        }
        .banner-header h1 {
            font-size: 35px;
            color: black;
            margin: 0px;
            font-weight: 600;
        }        
        .testimonial-header-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 30px;
            gap: 10px;
        }
        .testimonial-header-box img {
            width: 120px;
        }
        .testimonial-header-box h1 {
            font-size: 50px;
            font-weight: 700 !important;
            margin: 0px !important;
        }
        .testimonial-header-box p {
            font-size: 14px;
        }
        .testimonial-title {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
        span.user-box {
            width: 40px;
        }
        span.user-name h4 {
            font-size: 18px !important;
            font-weight: 700;
            margin: 0px;
        }
        span.user-name p {
            font-size: 14px;
            margin: 0px;
        }
        .testimonial-rating img {
            width: 130px;
        }
        .testimonial-title-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .testimonial-box {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 25px;
            border: 1px solid #80808063;
            border-radius: 15px;
            box-shadow: -6px 6px 20px #0000000d;
        }
        .testimonial-main-box h2 {
            font-size: 30px;
            color: black;
            margin-bottom: 0px;
        }
        .banner-content-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .testimonial-main-box {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .banner-content-wrapper p {
    box-shadow: -6px 6px 20px #0000000d;
    padding: 20px;
    font-size: 18px;
    border-radius: 15px;
    font-weight: 600;
    border: 1px solid #80808063;
}
.testimonial-des-box p {
    margin: 0px;
}
        /* new styling end */

/*TABLET QUERY*/

@media (min-width: 768px) and (max-width: 1024px) {

	.custom-top-image,.custom-bottom-image{
		display: none;
	}
	.light-bg{
		padding: 60px;
	}

}

/*Mobile QUERY*/

@media (min-width: 320px) and (max-width: 480px) {

	body{
		margin: 0 !important;
	}
	
    .testimonial-box {
        padding: 15px;
    }
    span.user-name h4 {
        font-size: 16px !important;
    }
    .testimonial-rating img {
        width: 80px;
    }
    .testimonial-box {
        gap: 15px;
    }
    .testimonial-main-box h2 {
        font-size: 22px;
    }
    .testimonial-des-box p {
        font-size: 14px;
    }
    .banner-content-wrapper {
        margin-bottom: 30px;
    }
    .banner-header h1 {
        font-size: 30px;
    }
	.light-bg a{
		font-size: 14px;
		padding: 10px 20px;
		border-radius: 3px;
	}
	.webinar-section{
		padding:30px 20px !important;
	}
      .banner-content-wrapper p {
    font-size: 16px;
}
}